* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offers {
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  background-color: #f1ffff;
  padding: 300px 0;
  margin-top: 20px;

  .container {
    max-width: 1300px;
    margin: 0 auto;

    .headings {
      font-family: "Jost", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      margin-bottom: 80px;

      h1 {
        font-size: 38px;
        font-weight: 600;
        color: #383a4e;
      }

      p {
        font-size: 15px;
        color: #64688c;
        max-width: 800px;
      }
    }

    .services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;

      div {
        padding: 30px 40px;
        background-color: #f1ffff;
        border: 10px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .icon {
          width: 45px;
          height: 45px;
          color: #7a7a7a;
        }

        p {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .watchVideo {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 20px;
      flex-wrap: wrap;

      .about {
        padding: 50px 50px 0 0;

        h1 {
          font-size: 38px;
          font-weight: 600;
          color: #383a4e;
          max-width: 400px;
          margin-top: 20px;
        }

        p {
          font-size: 15px;
          color: #64688c;
          max-width: 500px;
          margin-top: 20px;
        }

        button {
          font-size: 15px;
          padding: 10px 24px;
          background-color: #3b61dd;
          border-radius: 30px;
          color: white;
          margin: 20px 0;
        }
      }

      .video {
        position: relative;
        max-width: 600px;
        width: 100%;

       iframe,
        img {
          width: 100%;
          height: 100%;

        }

        .play {
          color: white;
          background-color: orange;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 790px) {
  .offers {
    padding-top: 600px;

    .services {
      grid-template-columns: 1fr 1fr !important;
      gap: 15px;
    }

   
  }
}

@media only screen and (max-width: 500px) {
  .offers {
    padding-top: 650px;

    .services {
      div {
        padding: 20px 30px !important;

        .icon {
          width: 25px !important;
          height: 25px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .offers {
    padding-top: 700px;

    .services {
      grid-template-columns: 1fr !important;

      div {
        padding: 30px 40px !important;

        .icon {
          width: 45px !important;
          height: 45px !important;
        }
      }
    }

    .about {
      padding: 10px !important;
    }
  }
}
