* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allmenus {
  background-color: #f1ffff;
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px; 
    .sorting {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 40px;
      button {
        padding: 15px 40px;
        background-color: white;
        border-radius: 30px;
        font-size: 15px;
        border: 1px solid #ddd; 
        cursor: pointer;
        transition: background-color 0.3s; 
      }
      button:hover {
        background-color: #e0f7fa; 
      }
    }
    .menus {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
      gap: 15px;
      .menu {
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        transition: transform 0.3s; 
      }
      .menu:hover {
        transform: translateY(-5px); 
      }
      p {
        font-size: 15px;
        color: #64688c;
        max-width: 400px;
      }
      img {
        width: 100%; 
        max-width: 100%;
        border-radius: 10px;
      }

      .booking {
        display: flex;
        justify-content: space-between;
        .pricing {
          display: flex;
          gap: 8px;
          align-items: center;
          h1 {
            color: #64bc5f;
            font-size: 20px !important;
            font-weight: 600;
          }
        }
      }
    }
    .loadMore{
      padding: 5px 15px;
      background-color: #3b61dd;
      color: white;
      border-radius: 20px;
      outline: 5px solid white;
      margin-top: 15px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .allmenu{
    .sorting {
      button {
        padding: 10px 20px !important;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .menus {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important; 
  }
}