* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teamSec {
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  background-color: #f1ffff;
  padding-bottom: 100px;
  .container {
    max-width: 1300px;
    margin: 0 auto;
    .headings {
      font-family: "Jost", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      margin-bottom: 80px;

      h1 {
        font-size: 38px;
        font-weight: 600;
        color: #383a4e;
      }

      p {
        font-size: 15px;
        color: #64688c;
        max-width: 800px;
      }
    }
    .teamMembers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      .member {
        background-color: white;
        padding: 15px;
        max-width: 290px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
          font-size: 24px;
          font-weight: 600;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          color: #64688c;
        }
        .imageWrapper {
          overflow: hidden;
          border-radius: 10px;
          img {
            border-radius: 10px;
            height: 350px;
            transition: transform 0.5s ease-in-out;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
      
        .social {
          display: flex;

          gap: 10px;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 15px;
            background-color: #f1ffff;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
    .teamMembers {
       
    }
}

