.scrollToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
  
    button {
      background-color: #007bff;
      border-radius: 50%;
      color: white;
      padding: 15px;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.467);
      
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  